#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.mySwiperHero .swiper-button-next {
  margin-top: -100px;
  height: 200px;
  width: 200px;
  padding: 0 200px;
  background-image: url(../../../assets/arrows-01.svg);
  background-repeat: no-repeat;
}
.mySwiperHero .swiper-button-next:hover {
  filter: sepia(100%) saturate(1000%) hue-rotate(9deg);
  transform: scaleX(0.9);
}
.mySwiperHero .swiper-button-prev {
  margin-top: -100px;
  height: 200px;
  width: 200px;
  padding: 0 200px;
  background-image: url(../../../assets/arrows-01.svg);
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.mySwiperHero .swiper-button-prev:hover {
  filter: sepia(100%) saturate(1000%) hue-rotate(9deg);
  margin-left: -10px;
}

.swiper-button-next:after {
  display: none;
}
.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.slide1-bg {
  background-image: url(../../../assets/SLIDE_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide2-bg {
  background-image: url(../../../assets/SLIDE_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide3-bg {
  background-image: url(../../../assets/SLIDE_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide4-bg {
  background-image: url(../../../assets/SLIDE_04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide5-bg {
  background-image: url(../../../assets/SLIDE_05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
